# virtual environment
venv/
.env/

# huge data (ignore contents, not folder itself)
crawl_analysis/*
!crawl_analysis/
!crawl_analysis/crawler_main.sh
!crawl_analysis/README.md
!crawl_analysis/nohup.out

protocols_based_probe/
phase_*/

*.parquet
*.csv
*.txt
*.json
*.log
nohup.out

__pycache__/
*.pyc
